.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: auto;
  border: 3px;
  border-color: black;
  border: solid;
  text-align: center;
  padding-bottom: 40px;
}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
